@keyframes welcome {
  0%, 30% { opacity: 0; }
}

@keyframes nogravity {
  0% { transform: translateY(10px); }
  100% { transform: translateY(50px); }
}

@keyframes topnavwelcome {
  0%, 30% { transform: translateY(100px); opacity: 0; }
}

@keyframes linesAnim { 
  0%, 20% { transform: translateX(-100%); }
}

@keyframes linesAnim2 { 
  0%, 20% { transform: translateX(100%); }
}

body {
  font-family: 'Saira Semi Condensed';
  margin: 0;
  color: white;
  text-align: center;
  font-size: x-large;
  text-shadow: 0 0 10px white;
  animation: welcome 2s;
}

html {
  background-color: rgb(0, 0, 0);
  background: linear-gradient(225deg, #04242f, black);
  background-attachment: fixed;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main {
  background-color: rgba(0, 0, 0, 0.5);
}

#mainImg {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  width: 50%;
}

.lines-container {
  position: sticky;
  top: 0;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: calc(100vh - 80px);
  z-index: -10;
  overflow: hidden;
}

.lines-container ul {
  position: absolute;
  height: 100vh;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  --mask: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 80%,
      rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 50% / 100% 100% repeat-x;
  mask: var(--mask);
}

.lines {
  rotate: -40deg;
  background-color: rgba(255, 255, 0, 0.5);
  width: 200vw;
  transform:  translateY(-63vw);
  height: calc(1vw + 1vh);
  margin-top: calc(2vw + 2vh);
}

.topnav a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  bottom: 3px;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: 0.3s ease all;
}

.topnav a:hover::before {
  transform: scaleX(1);
}

.topnav a:active::before {
  opacity: 0.5;
  height: 100%;
  transition: 0.1s ease all;
}

.topnav {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 999;
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5);
  animation: topnavwelcome 2s ease;
  text-align: right;
}

.topnav a, text {
  display: inline-block;
  text-shadow: none;
  font-size: xx-large;
  padding: 15px 15px;
  transition: 0.4s all ease;
}

.topnav text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  opacity: 0; filter: blur(10px); transition: 0.5s all ease;
  padding-top: 15px;
}

.topnav a:hover {
  text-shadow: 0 0 20px white, 0 0 10px white;
  transition: 0.4s all;
}

@media only screen and (max-width: 600px) {
  .topnav a, text {
    font-size: x-large;
    padding: 10px 10px;
  }
  .topnav text {
    padding-top: 10px;
    left: 2em;
  }
}

a {
  position: relative;
  text-decoration: none;
}

a:link,
a:visited {
  color: white;
}

.projects {
  animation: nogravity 3s ease-in-out infinite alternate;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.galleryL,
div.galleryR {
  margin: 5%;
  padding-bottom: 50px;
  border: 8px solid white;
  border-radius: 15px;
  width: 350px;
  height: 350px;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.7;
  box-shadow: 0 0 30px white;
  position: relative;
  transition: 0.3s all ease;
}

div.galleryL img,
div.galleryR img {
  margin-top: 20px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 15px;
}

div.galleryL:hover {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

div.galleryR:hover {
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.button {
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 10px;
  border-radius: 25px;
  transition: 0.25s all;
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}

.button img {
  max-width: 100%;
  max-height: 100%;
}

#dc:hover {
  background: #5865F2;
  box-shadow: 0 0px 10px #5865F2, 0 0px 20px #5865F2;
}

#github:hover {
  background: #333;
  box-shadow: 0 0px 10px #333, 0 0px 20px #333;
}

#reddit:hover {
  background: #FF5700;
  box-shadow: 0 0px 10px #FF5700, 0 0px 20px #FF5700;
}

#yt:hover {
  background: red;
  box-shadow: 0 0px 10px red, 0 0px 20px red;
}

#email:hover {
  background: limegreen;
  box-shadow: 0 0px 10px limegreen, 0 0px 20px limegreen;
}

#end {
  opacity: 0;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  border-radius: 50%;
  transform: rotate(270deg);
  font-size: 28px;
  font-weight: bold;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 20px;
  transition: 0.3s all;
  z-index: 900;
}

#end:hover {
  background-color: white;
  box-shadow: white 0 0 10px, white 0 0 20px;
  transition: 0.3s all;
}

#end:active {
  scale: 0.7;
}

.line {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  height: 3px;
  background-color: white;
  box-shadow: white 0px 0px 7px;
}

h2 {
  overflow: hidden;
}

h2:before,
h2:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  box-shadow: white 0px 0px 7px;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}
