@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 100% 50%;
  }
}

@keyframes welcome {

  0%,
  30% {
    opacity: 0;
  }
}

@keyframes nogravity {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(50px);
  }
}

@keyframes topnavwelcome {
  0% {
    transform: translateY(-50px);
  }
}

body {
  font-family: 'Saira Semi Condensed';
  background-color: rgb(100, 100, 255);
  background: linear-gradient(45deg, yellow, rgb(255, 100, 100), rgb(100, 100, 255), lime);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 300% 300%;
  animation: colors 7s ease-in-out infinite alternate;
  margin: 0;
  overflow-x: hidden;
  color: white;
  text-align: center;
  font-size: x-large;
  text-shadow: 0 0 10px white;
}

*:not(html, body) {
  animation: welcome 2s;
}

html {
  scroll-behavior: smooth;
}

h2 {
  overflow: hidden;
  text-align: center;
}

h2:before,
h2:after {
  background-color: white;
  content: "";
  display: inline-block;
  height: 3px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  box-shadow: white 0px 0px 7px;
}

h2:before {
  right: 0.5em;
  margin-left: -50%;
}

h2:after {
  left: 0.5em;
  margin-right: -50%;
}

a:link,
a:visited {
  color: white;
  transition: 0.77s all;
}

.topnav {
  position: fixed;
  z-index: 999;
  overflow: hidden;
  width: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
  animation: topnavwelcome 2s ease-in-out;
}

.topnav a {
  text-decoration: none;
  text-shadow: none;
  font-size: 20px;
  float: right;
  padding: 10px 10px;
  transition: 0.4s all;
}

.topnav a:hover {
  text-shadow: 0 0 20px white, 0 0 10px white;
  transition: 0.4s all;
}

.topnav a:active {
  text-shadow: none;
  transition: 0s all;
}

#time {
  float: left;
  font-size: 20px;
  padding: 10px 10px;
}

.projects {
  animation: nogravity 3s ease-in-out infinite alternate;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.galleryL,
div.galleryR {
  margin: 30px;
  padding-bottom: 50px;
  border: 8px solid white;
  border-radius: 15px;
  width: 350px;
  height: 350px;
  max-width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0.7;
  box-shadow: 0 0 30px white;
  transition: 0.5s ease all;
}

div.galleryL img,
div.galleryR img {
  margin-top: 20px;
  max-width: 250px;
  max-height: 250px;
  border-radius: 15px;
}

div.galleryL {
  transform:
    perspective(800px) rotateY(10deg);
}

div.galleryR {
  transform:
    perspective(800px) rotateY(-10deg);
}

div.galleryL:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform:
    perspective(800px) rotateY(-10deg) translateY(-10px) rotateX(10deg);
  opacity: 1;
}

div.galleryR:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transform:
    perspective(800px) rotateY(10deg) translateY(-10px) rotateX(10deg);
  opacity: 1;
}

.bigproject {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 80%;
  max-width: 800px;
  border-radius: 20px;
  background-image: url("https://raw.githubusercontent.com/Ncleardev/NclearOS-2/main/Screenshots/WallpaperNew.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.7;
  box-shadow: 0 0 50px #004dff;
  transition: 0.5s all;
}

.bigproject:hover {
  transform: scale(1.05);
  opacity: 1;
  box-shadow: 0 0 50px white;
  transition: 0.5s all;
}

.button {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px 10px;
  border-radius: 25px;
  transition: 0.5s all;
  height: 50px;
  width: 50px;
  margin: 10px;
  cursor: pointer;
}

#dc:hover {
  background: #5865F2;
  box-shadow: 0 0px 10px #5865F2, 0 0px 20px #5865F2;
}

#github:hover {
  background: #333;
  box-shadow: 0 0px 10px #333, 0 0px 20px #333;
}

#reddit:hover {
  background: #FF5700;
  box-shadow: 0 0px 10px #FF5700, 0 0px 20px #FF5700;
}

#yt:hover {
  background: red;
  box-shadow: 0 0px 10px red, 0 0px 20px red;
}

#email:hover {
  background: limegreen;
  box-shadow: 0 0px 10px limegreen, 0 0px 20px limegreen;
}

#end {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  rotate: 270deg;
  font-size: xx-large;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 5px;
  float: right;
  margin: 20px;
}

#end:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  transition: 0.3s all;
}